# --- macOS ---
.DS_Store

# --- VIM ---
*.swp
*.swo

# --- C ---
a.out
*.o

# --- Java ---
*.class

# --- PDF ---
*.pdf

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- PyCharm / JetBrains ---
.idea/
