[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = unefoisdeuxfoistroisfois
	email = 1fois2fois3fois@gmail.com
[color]
	ui = true
